# *** DB Server and data ***

# DB Version (default latest)
#DB_TAG=17

# DB Server port (default 5432)
#DB_PORT=5432

# DB Database name (default dbmovie)
#DB_DBNAME=dbmovie

# DB Database user (default movie)
#DB_USER=movie

# DB Server user password (default password)
#DB_PASSWORD=password

# ******* GUI DB CLIENT *****

# GUI Version (default latest)
# GUI_TAG=8

# GUI Web Port (default 80)
#GUI_PORT=80

# GUI user name (default admin@example.org)
#GUI_USER=admin@example.org

# GUI user password (default password)
#GUI_PASSWORD=password